@import url('https://fonts.googleapis.com/css?family=Raleway');

$site-font: 'Raleway', sans-serif;

//$light-gray: rgb(240, 240, 240);
$light-gray: #5C574F;
$dark-gray: rgb(80, 80, 80);
$white: white;
